In [ ]:
language="javascript"
print(f'hi elicome to language {language}class')

hi elicome to language javascriptclass

In [ ]:
language="javascript"
print('hi elicome to language:',language)

hi elicome to language: javascript

In [ ]:
name=input('enter the name:')
print('my name is:',name)

enter the name:bikas
my name is: bikas

In [ ]:
name=input('enter the name:')
print(f'my name is{name}')

enter the name:sony
my name issony

In [ ]:
##sum of to number through input method
A=int(input('enter the value of A:'))
B=int(input('enter the value of B:'))
print(type(A),type(B))
print('sum of two number:',{A+B})

enter the value of A:20
enter the value of B:20
<class 'int'> <class 'int'>
sum of two number: {40}

In [ ]:
A=int(input('enter the value of A:'))
B=int(input('enter the value of B:'))
print(type(A),type(B))
print(f'sum of two number:{A+B}')

enter the value of A:20
enter the value of B:30
<class 'int'> <class 'int'>
sum of two number:50

In [1]:
A=int(input('enter the value of A:'))
print(f'square of number:{A**2}')

enter the value of A:24
square of number:576

In [ ]:
name,place,weight ,date_of_birth= bikash,pune,70,1998

print(f"""""my name is:{name}
my live at:{place}
my weight:{}
my date_of_birth:{date_of_birth}""""")

SyntaxError: ignored

In [ ]:
name, place, year_of_birth, weight = "Sunny", "Bengaluru", 1991, 80.88
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My weight is: {weight} in Kgs
""")

My name is: Sunny
I live at: Bengaluru
I was born in: 1991
My weight is: 80.88 in Kgs

In [ ]:
##name,address,earn= sunny,22/7,20
name=input('enter the name:')
address=input('enter the address:')
earn= input ('enter the earn')
print(f'''i am {name},my address is {address},am earning is:{earn}daily''')

enter the name:sunny
enter the address:22/7
enter the earn20
i am sunny,my address is 22/7,am earning is:20daily

In [ ]:
A=54
B=3
if A%B == 0:  # means A is devided by B and the reminder is 0
  print(f"A:{A} is devisible by B:{B}")
else:
    print(f"A:{A} is not devisible by B:{B}")

A:54 is devisible by B:3

In [ ]:
A=4      #Square root of 4
A**(1/2)

2.0

In [ ]:
name=sunny
name[-4:-1]

NameError: ignored

In [ ]:
name= 'sunny'

In [ ]:
name[-4:-1]

'unn'

In [ ]:
date=input('enter date of birth of in this format dd/mm/yyyy:')

enter date of birth of in this format dd/mm/yyyy:08/08/2023

In [ ]:
todays_s_date= date[0:2]
month=date[3:5]
year=date[6:]
print(f'its{todays_s_date} of  the month:{month} and year:{year}')

its08 of  the month:08 and year:2023

In [ ]:
date=input("enter the date in DD/MM/YYYY:")
date.split("/")

enter the date in DD/MM/YYYY:12th/march/1995

['12th', 'march', '1995']

In [ ]:
A,B,C=date.split("/")
print(A,B,C)

12th march 1995

In [ ]:
total_amount=90+100+100+1000
print(f"cart_total:{total_amount}")

if total_amount>999:
  price_after_discount= total_amount*0.7
  print(f'pay amount:{price_after_discount}')

elif total_amount<=999 and total_amount>499:
  price_after_discount= total_amount*0.8
  print(f'pay amount:{price_after_discount}')
else:
  print(f'pay amount:{total_amount}')

cart_total:1290
pay amount:902.9999999999999

In [ ]:
cost_of_items=[100,200,129,456]

total_sum=0

for cost in cost_of_items:
 print (f"{total_sum}={total_sum}+{cost}")

 print( f"after adding total_sum={total_sum}")
 print("-----")
print(f"total amount to paid:{total_sum}")

0=0+100
after adding total_sum=0
-----
0=0+200
after adding total_sum=0
-----
0=0+129
after adding total_sum=0
-----
0=0+456
after adding total_sum=0
-----
total amount to paid:0

In [ ]:
cost_of_items=[100,200,129,456]
total_sum=0
budget=2000

for cost in cost_of_items:
  if total_sum>budget:
   break
  else:
    total_sum=total_sum + cost
    print(f"total amount to be paid:{total_sum}")

total amount to be paid:100
total amount to be paid:300
total amount to be paid:429
total amount to be paid:885

In [ ]:
for i in range(1,100):
  print(i)
  if i>50:
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [ ]:
def tes

In [ ]:
def test5(*args):
        l= []
        for i in args:
            l.append(i)
        return l

In [ ]:
test5(17,15,13,15)

[17, 15, 13, 15]

In [ ]:
l

NameError: ignored

In [ ]:
d={'course':'python','fees':'8000','duration':'2month'}

In [ ]:
n=d.get('course')
print(n)

python

In [ ]:
d={'name':'python','fees':'8000','duration':'2month'}

In [ ]:
for a in d.keys():
  print (a)

course
fees
duration

In [ ]:
for a in d.values(): #values
  print (a)

python
8000
2month

In [ ]:
#items
for a,b in d.items():
  print(a,b)

course python
fees 8000
duration 2month

In [ ]:
##del()
del d['fees']

print(d)

KeyError: ignored

In [ ]:
d.pop[duration]
print(d)

NameError: ignored

In [29]:
t=(20,30,40)
a=t[2]
print(a)

40

In [30]:
t=(20,30,40,50)

In [5]:
import module1 as m
print(m.sum(10,20))

ModuleNotFoundError: ignored

In [12]:
n=[17, 15, 13, 15]

In [13]:
import random
n=random.randit(15,13)
print(n)

AttributeError: ignored

In [11]:
n=[17, 15, 13, 15]
lc=random.choice(n)
print(lc)

17

In [15]:
r=random.random()
print(r)

0.14346769462145426

In [19]:
import datetime
x=datetime.datetime.now()
print(x)

2023-10-01 18:43:00.794626

In [20]:
print (datetime.datetime(2023,10,1))

2023-10-01 00:00:00

In [22]:
import datetime
x=datetime.datetime.now()
m=x.strftime('%y')
print(x)
print(m)

2023-10-01 18:50:56.734010
23

In [ ]:
import random

In [4]:
for i in range(1,11):
  print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for i in range (5):
    print (i)

In [ ]:
for i in range (5):
    print (i+1)

In [ ]:
i=1
while (i<=5):
    print(i)
    i+=1

In [ ]:
for i in range(5):
    print('*'*(i+1))

In [ ]:
for i in range(1,6):
    print('*'*i)

In [4]:
num=int(input())
l=0
if len(num)==5:
    for i in range(len(num)):
        l=l+int(i)
    print(i)

1

TypeError: ignored

In [5]:
num=input()
d1=int(num[0])
d2=int(num[1])
d3=int(num[2])
d4=int(num[3])
d5=int(num[4])
print(d1+d2+d3+d4+d4)

123458
14

In [ ]:
\https://mango-teacher-ljvvv.ineuron.app/files/work/questions.ipynb?_xsrf=2%7C1c08f290%7C161376894115f83d6abfe2b8ec3b9307%7C1696239861

In [ ]:
for i in range (5):
    print (i)

In [ ]:
for i in range (5):
    print (i+1)

In [ ]:
for i in range (0,5):
    print (i+1)

In [ ]:
i=1
while (i<=5):
    print(i)
    i+=1

In [ ]:
for i in range(5):
    print('*'*(i+1))

In [ ]:
for i in range(1,6):
    print('*'*i)

In [ ]:
A=int(input('enter the value of A:'))
print(f'square of number:{A**2}')

In [ ]:
A=int(input('enter the value of A:'))
S=A**2
print(f'square of number:{S}')

In [ ]:
n=int(input())
print(n**2)

In [ ]:
A=int(input('enter the value of A:'))
B=int(input('enter the value of B:'))
print(type(A),type(B))
print(f'sum of two number:{A+B}')

In [ ]:
A=str(input('enter the word:'))
b=str(input('enter the word:'))
print(f'the word is :{A,b}')

In [ ]:
A=str(input('enter the word:'))
b=str(input('enter the word:'))
print(A,' ',b)

In [ ]:
print(input(),input())

In [ ]:
s=input('enter the value:')
#od30323
print(s[0:2])

In [ ]:
A=int(input('enter the value of A:'))
B=int(input('enter the value of B:'))
c=int(input('enter the value of C:'))
print(f'sum of three number:{A+B+c}')

In [ ]:
num=input()
d1=int(num[0])
d2=int(num[1])
d3=int(num[2])
d4=int(num[3])
d5=int(num[4])
print(d1+d2+d3+d4+d4)

In [ ]:
num=(input())
l=0
if len(num)==5:
    for i in range(len(num)):
        l=l+int(i)
    print(l)

In [ ]:
a=input('please enter your num:')
count=0
for i in (a):
    count += int(i)
count

In [ ]:
word1=str(input('enter the word:'))
word2=str(input('enter the word:'))
word3=str(input('enter the word:'))
word4=str(input('enter the word:'))
word5=str(input('enter the word:'))
print(word1+','+word2+' ,'+word3+', '+word4+', '+word5+', ')

In [ ]:
word1=str(input('enter the word:'))
word2=str(input('enter the word:'))
word3=str(input('enter the word:'))
word4=str(input('enter the word:'))
word5=str(input('enter the word:'))
space= ''
stop='.'
sentence=print(word1+','+word2+' ,'+word3+', '+word4+', '+word5+', ')
print(sentence)

In [ ]:
a=input()
print(a[6:])

In [ ]:
num=[1,2,3,4,5]
prod=1
for i in num:
     if i !=',':
         prod=prod*int(i)
print(prod)

In [ ]:
num=[1,2,3,4,5]
prod=1
for i in num:
    prod=prod*int(i)
print(prod)

In [ ]:
x=int(input())
y=int(input())
print(x**y)

In [ ]:
x=int(input())
y=int(input())
res=x**y
res_str=str(res)
print(len(res_str))

In [ ]:
s=input()
n=len(s)
if n%2==0:
    if s[n-1]=='.':
        s=s[:-1]
    else:
        s+'.'
n=int((len(s)-1)/2)
print(s[n-1:n+2])

In [ ]:
x=int(input())
y=int(input())
z=int(input())
if ((x**2 + y**2 == z**2)or
    (y**2 + z**2 == x**2)or
    (z**2 + x**2 == y**2)):
    print('yes')
else:
    print('no')